.form-outline .form-control~.form-label{
    padding-top: 0px !important;
    background: white  !important;
    margin-top: 5px;
}
.form-control{
    border: 1px solid #ced4da !important;  
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .student_button {
    background: #3B9AE1;
    color: white;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 400;
    padding: 5px 30px;
    border: none;
}